<div class="card m-2">
  <div class="card-header">
    {{ 'login_form_title' | translate }}
  </div>
  <div class="card-body">
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="name">{{ 'login_form_name' | translate }}</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="form.name" name="name">
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary "><i class="fas fa-check"></i> {{ 'login_button' | translate }}</button>
      </div>
    </form>
  </div>

</div>

